---
import { createImageUrl, getImageURLWithFallback } from '@codetv/cloudinary';
import { Image } from '@unpic/astro';
import { getCollection } from 'astro:content';
import { marked } from 'marked';
import Layout from '../../layouts/default.astro';
import Card from '../../components/design-system/card.astro';
import { getEntry } from 'astro:content';
import { getRelativeAge, socialLinkExtraction } from '../../util/helpers';

export const prerender = true;

export async function getStaticPaths() {
	const users = await getCollection('profiles');

	return users.map((user) => {
		return {
			params: {
				username: user.id,
			},
		};
	});
}

const { username } = Astro.params;
const profile = await getEntry('profiles', username);
const user = profile?.data;

if (!user) {
	throw new Error('no user found');
}

const imgUrl = user.photo?.public_id
	? createImageUrl(user.photo.public_id, {
			width: 800,
			aspect_ratio: 1,
			crop: 'thumb',
			gravity: 'face',
		})
	: 'https://res.cloudinary.com/jlengstorf/image/upload/f_auto/q_auto/w_150/v1732599682/lwj/v2/lwj-heart.png';

const subscription = user.subscription ?? {
	status: 'inactive',
	level: 'none',
};
const isSubscriber = !['jlengstorf', 'jlengstorf-test'].includes(
	user.slug ?? '',
)
	? subscription?.status === 'active'
	: false;

const bio = marked.parse(user.bio ?? '');
---

<Layout title={`${user.name}’s profile on CodeTV`}>
	<main class="wrapper">
		<div class="profile-photo">
			<Image
				src={imgUrl}
				alt={user.name}
				priority={true}
				width={800}
				height={800}
			/>

			<h1>
				{user.name}
			</h1>
			<p class="username">@{username}</p>
			{isSubscriber ? <p class="level">{subscription.level}</p> : null}

			{
				user.badges && user.badges?.length > 0 ? (
					<ul class="badges">
						{user.badges.map((badge) => (
							<li>
								<img
									src={createImageUrl(badge.image.public_id, {
										width: 100,
										aspect_ratio: '1',
									})}
									alt={badge.title}
									title={badge.description}
								/>
							</li>
						))}
					</ul>
				) : null
			}

			{
				user.links && user.links?.length > 0 ? (
					<nav class="links">
						{user.links.map((link) => {
							const { Icon, url, label } = socialLinkExtraction(link);
							return (
								<a href={url.toString()}>
									<Icon /> {label}
								</a>
							);
						})}
					</nav>
				) : null
			}
		</div>
		<div class="details">
			<div class="bio" set:html={bio} />

			{
				user.episodes.length > 0 ? (
					<section class="related-episodes">
						<h2>Episodes featuring {user.name}</h2>

						<div class="row three-up">
							{user.episodes.map((related) => {
								if (!related || !related.slug) {
									return null;
								}

								const epIndex =
									related.collection?.episodeSlugs?.findIndex(
										(slug) => slug === related.slug,
									) ?? 0;
								const epNumber = epIndex + 1;

								const thumbnailURL = getImageURLWithFallback({
									public_id: related.thumbnail?.public_id,
									youtube_id: related.video?.youtube_id,
									text: related.title,
									width: 400,
								});

								const description = related.short_description;
								const date = new Date(related.publish_date ?? '');
								const path = `/series/${related.series.slug}/${related.collection?.slug}/${related.slug}`;
								const age = getRelativeAge(related.publish_date.toString());

								let label;
								if (age === 'FUTURE') {
									label = `Available ${date.toLocaleDateString('en-US', {
										month: 'short',
										day: 'numeric',
										year: 'numeric',
									})}`;
								}

								if (age === 'NEW') {
									label = 'New Episode';
								}

								return (
									<>
										<Card link={path} variant="secondary" label={label}>
											{thumbnailURL ? (
												<img
													slot="img"
													src={thumbnailURL}
													alt={related.title}
												/>
											) : null}

											<Fragment slot="title">
												{label ? <p class="tag">NEW</p> : null}
												<h3>
													<a href={path}>{related.title}</a>
												</h3>
											</Fragment>

											<Fragment slot="subtitle">
												<p class="episode-number">
													{`${related.collection?.slug}.E${epNumber}`.toUpperCase()}
												</p>
												<p class="episode-date">
													{date.toLocaleDateString('en-US', {
														month: 'short',
														day: 'numeric',
														year: 'numeric',
													})}
												</p>
											</Fragment>

											<p class="episode-description">{description}</p>
											<p>
												<a
													href={path}
													class="button"
													data-variant="more-link"
													tabindex="-1"
												>
													See details and watch now
												</a>
											</p>
										</Card>
									</>
								);
							})}
						</div>
					</section>
				) : null
			}
		</div>
	</main>
</Layout>

<style>
	.wrapper {
		padding: 40px 5cqw 60px;

		@media (min-width: 750px) {
			display: grid;
			gap: 40px;
			grid-template-columns: 240px auto;
			padding-block-start: 120px;
		}
	}

	.profile-photo {
		block-size: auto;
		inline-size: 100%;

		img {
			border-radius: 2px;
			display: block;
			inline-size: 100%;
		}

		h1 {
			font-size: 1.75em;
			margin-block: 16px 8px;
		}
	}

	.links {
		align-items: center;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 4px;
		margin-block-start: 24px;

		a {
			align-items: center;
			background: color-mix(in oklch, var(--white), transparent 98%);
			border: 1px solid color-mix(in oklch, var(--white), transparent 90%);
			border-radius: 3px;
			color: var(--text-muted);
			display: flex;
			font-size: 0.875rem;
			gap: 8px;
			inline-size: 100%;
			padding: 4px 8px;
			text-decoration-color: transparent;
			transition: 150ms all linear;

			&:is(:hover, :active, :focus) {
				background: color-mix(in oklch, var(--white), transparent 95%);
				border: 1px solid color-mix(in oklch, var(--white), transparent 85%);
				color: var(--text-emphasized);
				text-decoration-color: var(--text-muted);
			}
		}

		svg {
			aspect-ratio: 1;
			block-size: auto;
			display: block;
			inline-size: 16px;

			path {
				fill: var(--text);
			}
		}
	}

	.badges {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		list-style: none;
		margin: 24px 0;
		padding: 0;

		li {
			margin: 0;
		}

		img {
			aspect-ratio: 1;
			block-size: auto;
			display: block;
			inline-size: 44px;
			border-radius: 3px;
			display: block;
			opacity: 0.85;
			transition-duration: 150ms;
			transition-timing-function: linear;
			transition-property: opacity;

			&:is(:hover, :active, :focus) {
				opacity: 1;
			}
		}
	}

	.bio {
		margin-block: 24px 40px;
		max-inline-size: 54ch;

		p {
			+ p {
				margin-block-start: 12px;
			}
		}
	}

	h2 {
		font-size: 1.25em;
		line-height: 1.1;
		margin-block: 64px 20px;
	}

	.username,
	.level {
		--color: var(--text-muted);

		background: color-mix(in oklch, var(--color) 15%, transparent);
		border: 0.5px solid var(--color);
		border-radius: 3px;
		color: color-mix(in oklch, var(--color) 40%, var(--white));
		font-size: 0.75em;
		inline-size: max-content;
		padding-inline: 4px;
	}

	.level {
		--color: var(--orange);
	}

	.row {
		padding-inline: 0;
	}

	.episode-description {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
</style>
