---
import { createImageUrl, getImageURLWithFallback } from '@codetv/cloudinary';
import {
	getAllSeries,
	getAllSponsorsForCollection,
	getSeriesBySlug,
} from '@codetv/sanity';
import { Image } from '@unpic/astro';
import { format } from 'date-fns';
import { marked } from 'marked';
import Layout from '../../../layouts/default.astro';
import Card from '../../../components/design-system/card.astro';
import { getRelativeAge, isNew, truncate } from '../../../util/helpers';
import PageHeader from '../../../components/page-header.astro';
import type { SeriesBySlugQueryResult } from '@codetv/types';

export const prerender = true;

export async function getStaticPaths() {
	const allSeries = await getAllSeries();

	return allSeries.flatMap((s) => {
		return s.collections!.map((c) => ({
			params: { seriesSlug: s.slug, collectionSlug: c.slug },
		}));
	});
}

const { seriesSlug, collectionSlug } = Astro.params;

if (!seriesSlug || !collectionSlug) {
	throw new Error('Invalid series and/or collection provided.');
}

const series = await getSeriesBySlug({
	series: seriesSlug,
	collection: collectionSlug,
});

if (!series) {
	throw new Error(`Invalid series for ${seriesSlug}`);
}

if (!series.image || !series.image.public_id) {
	throw new Error('Missing series image');
}

const result = await getAllSponsorsForCollection({
	series: seriesSlug,
	collection: collectionSlug,
});

const allSponsors = new Map();
for (let s of result?.sponsors ?? []) {
	if (s?.title) {
		allSponsors.set(s.title, s);
	}
}

const seriesImage = createImageUrl(series.image.public_id, {
	width: 1280,
	aspect_ratio: '16:9',
	crop: 'fill',
});

const url = Astro.site!;
url.pathname = `/series/${series.slug}/${series.collection?.slug}`;

const collection = series.collection ?? false;
const date = collection
	? new Date(collection.release_year ?? Date.now())
	: new Date();

const totalEpisodes = series.collections?.reduce(
	(count, s) => (s.episode_count ?? 0) + count,
	0,
);

const details = marked.parse(series.details ?? '');

function getLatestEpisode(s: SeriesBySlugQueryResult) {
	if (!s || !s.collection || !s.collections || s.collections.length === 0) {
		return;
	}

	const mostRecentCollection = s.collections.at(-1);

	if (s.collection.slug !== mostRecentCollection?.slug) {
		return;
	}

	return s.collection.episodes?.at(-1);
}

const latest_episode = getLatestEpisode(series);
---

<Layout title={`${series.title} ${series.collection?.title}`}>
	<Fragment slot="head">
		<link rel="canonical" href={url.toString()} />

		<meta property="og:type" content="video.tv_show" />
		<meta property="og:url" content={url.toString()} />
		<meta property="og:site_name" content="CodeTV" />
		<meta
			property="og:title"
			content={`${series.title} ${series.collection?.title}`}
		/>
		<meta property="og:description" content={series.description} />

		<meta property="og:image" content={seriesImage} />
		<meta property="og:image:width" content="1280" />
		<meta property="og:image:height" content="720" />
		<meta property="og:image:alt" content={series.title} />

		<meta name="twitter:dnt" content="on" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:description" content={series.description} />
		<meta name="twitter:image" content={seriesImage} />
		<meta name="twitter:creator" content="@codetv_dev" />
	</Fragment>

	<main>
		<PageHeader
			image={{
				// @ts-expect-error
				public_id:
					latest_episode?.banner?.public_id ?? series?.banner?.public_id,
				alt: latest_episode?.banner?.alt ?? series.title,
			}}
			addGradient={true}
		>
			<Fragment slot="content">
				<div class="series-info">
					<Image
						src={createImageUrl(series.logo!)}
						alt={series.title}
						width={400}
					/>

					<div class="series-details">
						<p class="season-count">
							{series.collections?.length}
							{series.collections?.length === 1 ? 'season' : 'seasons'}
						</p>
						<p class="episode-count">
							{totalEpisodes}
							{totalEpisodes === 1 ? 'episode' : 'episodes'}
						</p>
					</div>

					{
						latest_episode ? (
							() => {
								const description = latest_episode.short_description;
								const path = `/series/${series.slug}/${series.collection?.slug}/${latest_episode.slug}`;
								const age = getRelativeAge(latest_episode.publish_date);
								const date = new Date(
									latest_episode.publish_date,
								).toLocaleDateString('en-US', {
									month: 'short',
									day: 'numeric',
								});

								let tag;
								if (age === 'FUTURE') {
									tag = `Coming ${date}`;
								}

								if (age === 'NEW') {
									tag = 'NEW';
								}

								return (
									<div class="latest-episode">
										<div class="title">
											{tag ? <p class="tag">{tag}</p> : null}
											<p class="episode-number">
												{`${series.collection?.slug}.E${(series.collection?.episodes?.findIndex((e) => e.slug === latest_episode?.slug) ?? 0) + 1}`.toUpperCase()}
											</p>
											<h3>
												<a href={path}>{latest_episode.title}</a>
											</h3>
										</div>

										<p class="description">{description}</p>
										<div class="options">
											<a href={`${path}/play`} class="button" tabindex="-1">
												<svg
													xmlns="http://www.w3.org/2000/svg"
													fill="none"
													viewBox="0 0 15 18"
												>
													<path
														fill="#080217"
														d="M14.5 7.641a1 1 0 0 1 0 1.732l-13 7.506a1 1 0 0 1-1.5-.866V1A1 1 0 0 1 1.5.135l13 7.506Z"
														style="fill:#080217;fill:color(display-p3 .0314 .0078 .0902);fill-opacity:1"
													/>
												</svg>
												Watch
											</a>

											{latest_episode.sponsors &&
											latest_episode.sponsors.length > 0 ? (
												<>
													<span>sponsored by</span>
													{latest_episode.sponsors?.map((sponsor) => {
														return (
															<Image
																src={createImageUrl(sponsor.logo.public_id!)}
																width={sponsor.logo.width!}
																height={sponsor.logo.height!}
																alt={sponsor.title}
															/>
														);
													})}
												</>
											) : null}
										</div>
									</div>
								);
							}
						) : (
							<div>
								<div class="title">
									<h3>{series.title}</h3>
								</div>

								<p class="description">{series.description}</p>
								<div class="options">
									<a
										href={`/series/${series.slug}/${series.collection?.slug}/${series.collection?.episodes?.at(0)?.slug}`}
										class="button"
										tabindex="-1"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 15 18"
										>
											<path
												fill="#080217"
												d="M14.5 7.641a1 1 0 0 1 0 1.732l-13 7.506a1 1 0 0 1-1.5-.866V1A1 1 0 0 1 1.5.135l13 7.506Z"
												style="fill:#080217;fill:color(display-p3 .0314 .0078 .0902);fill-opacity:1"
											/>
										</svg>
										Start watching
									</a>
								</div>
							</div>
						)
					}
				</div>
			</Fragment>
		</PageHeader>

		<section class="row tabs">
			<fieldset>
				<label>
					Episodes
					<input type="radio" name="active-section" value="episodes" checked />
				</label>

				<label>
					Details
					<input type="radio" name="active-section" value="details" />
				</label>

				{
					(series.collection?.extras?.length ?? 0 > 0) ? (
						<label>
							Extras
							<input type="radio" name="active-section" value="extras" />
						</label>
					) : null
				}
			</fieldset>
		</section>

		<section id="episodes" class="episodes">
			<div class="row collection-info">
				<select id="collection-selector">
					{
						series.collections
							? series.collections.map((c) => {
									const pathname = `/series/${series.slug}/${c.slug}`;
									const selected = c.slug === series.collection?.slug;

									return (
										<option value={pathname} {selected}>
											{c.title}
										</option>
									);
								})
							: null
					}
				</select>
				<p class="count">
					{series.collection?.episodes?.length}
					{series.collection?.episodes?.length === 1 ? 'episode' : 'episodes'}
				</p>
				<p class="year">
					Release year: {format(date, 'yyyy')}
				</p>
			</div>
			<div class="row five-up">
				{
					series.collection?.episodes?.map((episode, index) => {
						if (!episode || !episode.slug) {
							return null;
						}

						const thumbnailURL = getImageURLWithFallback({
							public_id: episode.thumbnail.public_id,
							youtube_id: episode.video?.youtube_id,
							text: episode.title,
							width: 400,
						});

						const description = episode.short_description;
						const date = new Date(episode.publish_date ?? '');
						const path = `/series/${series.slug}/${series.collection?.slug}/${episode.slug}`;
						const age = getRelativeAge(episode.publish_date);

						let label;
						if (age === 'FUTURE') {
							label = `Available ${date.toLocaleDateString('en-US', {
								month: 'short',
								day: 'numeric',
								year: 'numeric',
							})}`;
						}

						if (age === 'NEW') {
							label = 'New Episode';
						}

						return (
							<Card link={path} variant="secondary" label={label}>
								{thumbnailURL ? (
									<img slot="img" src={thumbnailURL} alt={episode.title} />
								) : null}

								<Fragment slot="title">
									{label ? <p class="tag">NEW</p> : null}
									<h3>
										<a href={path}>{episode.title}</a>
									</h3>
								</Fragment>

								<Fragment slot="subtitle">
									<p class="episode-number">
										{`${series.collection?.slug}.E${index + 1}`.toUpperCase()}
									</p>
									<p class="episode-date">
										{date.toLocaleDateString('en-US', {
											month: 'short',
											day: 'numeric',
											year: 'numeric',
										})}
									</p>
								</Fragment>

								<p class="episode-description">{description}</p>
								<p>
									<a
										href={path}
										class="button"
										data-variant="more-link"
										tabindex="-1"
									>
										See details and watch now
									</a>
								</p>
							</Card>
						);
					})
				}
			</div>
		</section>

		{
			(series.collection?.extras?.length ?? 0 > 0) ? (
				<section id="extras" class="extras">
					<div class="row five-up">
						{series.collection?.extras?.map((extra, index) => {
							if (!extra || !extra.slug) {
								return null;
							}

							const thumbnailURL = getImageURLWithFallback({
								youtube_id: extra.video?.youtube_id,
								text: extra.title,
								width: 400,
							});

							const description = extra.short_description;
							const date = new Date(extra.publish_date ?? '');
							const path = `/series/${series.slug}/${series.collection?.slug}/${extra.slug}/play`;

							return (
								<Card link={path} variant="secondary">
									{thumbnailURL ? (
										<img slot="img" src={thumbnailURL} alt={extra.title} />
									) : null}

									<Fragment slot="title">
										<h3>
											<a href={path}>{extra.title}</a>
										</h3>
									</Fragment>

									<Fragment slot="subtitle">
										<p class="episode-number">EXTRAS</p>
										<p class="episode-date">
											{date.toLocaleDateString('en-US', {
												month: 'short',
												day: 'numeric',
												year: 'numeric',
											})}
										</p>
									</Fragment>

									<p class="episode-description">{description}</p>
									<p>
										<a
											href={path}
											class="button"
											data-variant="more-link"
											tabindex="-1"
										>
											Watch now
										</a>
									</p>
								</Card>
							);
						})}
					</div>
				</section>
			) : null
		}

		<section id="details" class="row details">
			<div class="wrapper">
				<article class="description" set:html={details} />

				<aside class="sidebar">
					{
						allSponsors.size > 0 ? (
							<>
								<h3>Sponsors</h3>
								<p>
									This season was made possible through partnership with these
									companies.
								</p>
								<ul class="sponsor-logos">
									{allSponsors
										.values()
										.toArray()
										.map((sponsor) => {
											if (!sponsor) {
												return null;
											}

											return (
												<li>
													<a href={sponsor.link} rel="nofollow">
														<Image
															src={createImageUrl(sponsor.logo.public_id!)}
															width={
																(sponsor.logo.width! / sponsor.logo.height!) *
																80
															}
															height={80}
															alt={sponsor.title}
														/>
													</a>
												</li>
											);
										})}
								</ul>
							</>
						) : null
					}
				</aside>
			</div>
		</section>
	</main>
</Layout>

<script>
	import { navigate } from 'astro:transitions/client';

	const select = document.querySelector(
		'#collection-selector',
	) as HTMLSelectElement;

	select.addEventListener('change', (event) => {
		const option = event.target as HTMLOptionElement;
		navigate(option.value);
	});
</script>

<style is:global>
	.hero {
		min-block-size: 400px;
	}
</style>

<style define:vars={{ bg: `url(${seriesImage})` }}>
	.series-info {
		font-size: clamp(14px, 1.25cqi, 1.125rem);
		inset-block-end: 0;
		inset-inline-start: 5cqi;
		max-inline-size: 90%;
		position: absolute;
		z-index: 10;

		img {
			inline-size: min(400px, 40dvi) !important;
		}

		.series-details {
			display: flex;
			font-size: 1.125em;
			gap: 16px;
			margin-block: 16px 24px;
			margin-inline-start: 8px;
		}

		.title {
			--font-size: clamp(14px, 4.5cqi, 1.125em);

			color: var(--text-emphasized);
			display: flex;
			flex-wrap: wrap;
			font-size: var(--font-size);
			font-weight: 400;
			gap: 8px 16px;
			line-height: 1.25;
			margin: 0 8px 8px;

			&:empty {
				display: none;
			}

			* {
				color: inherit;
				font-size: inherit;
				font-weight: inherit;
				line-height: inherit;
			}

			:is(h1, h2, h3, h4, h5, h6) {
				font-size: var(--font-size);
				font-variation-settings: 'wdth' 95;
				font-weight: 550;
				line-height: 1.1;
				margin: 0;

				summary & {
					display: inline-block;

					&::before {
						content: '\25B8';
						margin-inline-end: 4px;
					}

					:open &::before {
						content: '\25BE';
					}
				}
			}

			.tag {
				background: var(--gray-200);
				border-radius: 3px;
				color: var(--text);
				display: block;
				font-family: var(--font-family-heading);
				font-size: clamp(10px, 1cqi, 0.625em);
				font-weight: 700;
				letter-spacing: 0.15em;
				line-height: 1;
				padding: 4px;
				text-transform: uppercase;
				align-self: center;
				text-box-trim: trim-both;
				text-box-edge: cap alphabetic;
			}

			.episode-number {
				color: var(--text-muted);
			}

			a {
				color: inherit;
				text-decoration: none;

				&:is(:focusa, :active, :hover) {
					outline: none;
					text-decoration: underline;
				}
			}
		}

		.description {
			color: var(--text-muted);
			display: flex;
			flex-direction: column;
			font-optical-sizing: auto;
			font-size: clamp(14px, 1.375cqi, 1.125em);
			font-weight: 300;
			gap: var(--gap);
			line-height: 1.35;
			margin-block-end: 32px;
			margin-inline-start: 8px;
			max-inline-size: 45ch;
			padding-inline: 0;
			text-wrap: pretty;

			details & {
				margin-inline-start: 12px;
			}

			&:empty {
				display: none;
			}

			> * {
				color: inherit;
				font-size: inherit;
				line-height: inherit;
				margin: 0;
			}
		}

		.options {
			align-items: center;
			display: flex;
			gap: 16px;

			span {
				color: var(--text-muted);
				font-size: 0.625em;
				letter-spacing: 0.1em;
				text-transform: uppercase;
			}
		}

		.button {
			align-items: center;
			display: flex;
			font-size: 1em;
			font-weight: 600;
			gap: 8px;
			justify-self: start;
			margin-block: 0;
			margin-inline-end: 32px;
			margin-inline-start: 8px;
			padding-inline: 24px;

			svg {
				block-size: 16px;
			}
		}
	}

	.tabs {
		background: var(--black);
		padding-block-start: 40px;

		fieldset {
			border: none;
			border-block-end: 1px solid
				color-mix(in oklch, var(--gray-800) 15%, transparent);
			display: flex;
			gap: 40px;
			inline-size: 100%;
			padding: 16px 0;
		}

		label {
			color: var(--text-muted);
			cursor: pointer;
			font-weight: 300;
			letter-spacing: 0.1em;
			padding-inline-start: 8px;
			position: relative;
			text-transform: uppercase;

			&:has(:checked) {
				color: var(--text-emphasized);
				font-weight: 500;
			}
		}

		input {
			opacity: 0;
			position: absolute;
			z-index: -1;
		}

		&:has([value='episodes']:checked) ~ .episodes {
			display: block;
		}

		&:has([value='extras']:checked) ~ .extras {
			display: block;
		}

		&:has([value='details']:checked) ~ .details {
			display: block;
		}
	}

	.season-count,
	.episode-count {
		font-size: 0.75em;
	}

	.collection {
		padding: 64px max(calc((100cqw - 1024px) / 2), 5cqw);
	}

	.collection-info {
		align-items: baseline;
		color: var(--text-muted);
		display: flex;
		flex-direction: column;
		font-size: 0.75rem;
		font-weight: 200;
		letter-spacing: 0.1em;
		gap: 8px;
		padding-block: 16px;
		text-transform: uppercase;

		@media (min-width: 720px) {
			flex-direction: row;
			gap: 24px;
		}

		select {
			background: var(--black);
			border: 1px solid transparent;
			border-radius: 3px;
			color: var(--text-emphasized);
			cursor: pointer;
			font: inherit;
			font-weight: 500;
			padding: 4px;

			&:hover,
			&:focus,
			&:active {
				border-color: color-mix(in oklch, var(--gray-800) 15%, transparent);
			}
		}
	}

	.episodes,
	.extras,
	.details {
		background: var(--black);
		display: none;
		padding-block: 40px 120px;
	}

	.episodes {
		container-name: episodes;
		container-type: inline-size;
		padding-block-start: 0;
	}

	.details {
		.wrapper {
			margin-inline: auto;
			max-inline-size: 1440px;
			padding: 0 0 80px;

			@media (min-width: 750px) {
				display: grid;
				gap: 30px;
				grid-template-columns: calc(62% - 15px) minmax(0, 1fr);
			}
		}
	}

	.description {
		max-inline-size: 640px;
		padding-inline: 16px;

		@media (min-width: 1000px) {
			margin-block-start: 0;
		}

		h2 {
			margin-block: 1.5rem 0.5rem;
		}

		p {
			&:not(:first-child) {
				margin-block-start: 12px;
			}
		}
	}

	.episode-description {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}

	.row {
		> div {
			transition: opacity 150ms linear;
		}

		@media (pointer: fine) {
			&:has(:focus-within, :hover) {
				> .card {
					opacity: 0.5;

					&:has(:focus-within, :hover) {
						opacity: 1;
					}
				}
			}
		}
	}

	.wrapper {
		margin-inline: auto;
		max-inline-size: 1440px;
		padding: 20px 5cqw 80px;

		@media (min-width: 750px) {
			display: grid;
			gap: 30px;
			grid-template-columns: calc(62% - 15px) minmax(0, 1fr);
		}

		ul {
			margin-block: 8px 24px;

			li {
				margin-block-start: 4px;
			}
		}
	}

	.sidebar {
		color: var(--text-muted);
		font-size: 0.875rem;

		h3 {
			font-size: 1.125rem;
			font-weight: 600;
			line-height: 1.1;
			margin-block: 4px;

			&:not(:first-child) {
				margin-block-start: 40px;
			}
		}
	}

	.sponsor-logos {
		display: flex;
		flex-wrap: wrap;
		gap: 4px 16px;
		justify-content: center;
		list-style: none;
		margin-block-start: 8px;
		padding: 0;

		a {
			display: block;
		}

		img {
			block-size: 32px;
			display: block;
			inline-size: auto;
		}
	}
</style>
