---
import {
	getAllSeries,
	getNextEarlyAccessEpisode,
	getRecentEpisodes,
} from '@codetv/sanity';
import Card from '../design-system/card.astro';
import { getImageURLWithFallback } from '@codetv/cloudinary';
import { isNew } from '../../util/helpers';

const earlyAccess = await getNextEarlyAccessEpisode();
const recentEps = await getRecentEpisodes();
const series = await getAllSeries();
---

<section class="series">
	{
		recentEps ? (
			<>
				<h2>Recent Episodes</h2>
				<div class="wrap">
					<div class="row">
						{earlyAccess
							? () => {
									const thumbnailURL = getImageURLWithFallback({
										public_id: earlyAccess.thumbnail.public_id,
										youtube_id: earlyAccess.youtube_id,
										text: earlyAccess.title,
										width: 400,
									});

									return (
										<Card
											link={earlyAccess.path ?? undefined}
											variant="secondary"
											label="Early Access"
										>
											{thumbnailURL ? (
												<img
													slot="img"
													src={thumbnailURL}
													alt={earlyAccess.title}
												/>
											) : null}

											<Fragment slot="title">
												<p class="tag">NEW</p>
												<h3>{earlyAccess.series}</h3>
												<p class="episode-number">
													{earlyAccess.episodeNumber}
												</p>
											</Fragment>

											<Fragment slot="subtitle">
												<p class="episode-date">
													{new Date(
														earlyAccess.publish_date!,
													).toLocaleDateString('en-US', {
														month: 'short',
														day: 'numeric',
													})}
												</p>
												<p class="episode-title">
													<a href={earlyAccess.path}>{earlyAccess.title}</a>
												</p>
											</Fragment>

											<p>{earlyAccess.short_description}</p>
											<p>
												<a
													href={earlyAccess.path}
													class="button"
													data-variant="more-link"
													tabindex="-1"
												>
													See details and watch now
												</a>
											</p>
										</Card>
									);
								}
							: null}

						{recentEps.map((ep) => {
							const showNewTag = isNew(ep.publish_date);
							const thumbnailURL = getImageURLWithFallback({
								public_id: ep.thumbnail.public_id,
								youtube_id: ep.youtube_id,
								text: ep.title,
								width: 400,
							});

							let label;
							if (showNewTag) {
								label = 'New Episode';
							}

							const description = ep.short_description;

							return (
								<Card
									link={ep.path ?? undefined}
									variant="secondary"
									label={label}
								>
									{thumbnailURL ? (
										<img slot="img" src={thumbnailURL} alt={ep.title} />
									) : null}

									<Fragment slot="title">
										{showNewTag ? <p class="tag">NEW</p> : null}
										<h3>{ep.series}</h3>
										<p class="episode-number">{ep.episodeNumber}</p>
									</Fragment>

									<Fragment slot="subtitle">
										<p class="episode-date">
											{new Date(ep.publish_date!).toLocaleDateString('en-US', {
												month: 'short',
												day: 'numeric',
											})}
										</p>
										<p class="episode-title">
											<a href={ep.path}>{ep.title}</a>
										</p>
									</Fragment>

									<p class="episode-description">{description}</p>
									<p>
										<a
											href={ep.path}
											class="button"
											data-variant="more-link"
											tabindex="-1"
										>
											See details and watch now
										</a>
									</p>
								</Card>
							);
						})}
					</div>
				</div>
			</>
		) : null
	}

	<h2>CodeTV Original Series</h2>
	<div class="wrap">
		<div class="row portrait-cards">
			{
				series.map((s) => {
					const seasons =
						s.total_season_count === 1
							? '1 season'
							: s.total_season_count + ' seasons';

					const episodes =
						s.total_episode_count === 1
							? '1 episode'
							: s.total_episode_count + ' episodes';

					const thumbnailURL = getImageURLWithFallback({
						public_id: s.cover?.public_id,
						text: s.title,
						width: 400,
						aspect_ratio: { w: 4, h: 5 },
					});

					return (
						<>
							<Card link={s.path ?? undefined} variant="secondary">
								{s.image?.public_id ? (
									<img slot="img" src={thumbnailURL} alt={s.title} />
								) : null}
								<Fragment slot="title">
									<h3>
										<a href={s.path}>{s.title}</a>
									</h3>
								</Fragment>

								<Fragment slot="subtitle">
									<p class="season-count">{seasons}</p>
									<p class="episode-count">{episodes}</p>
								</Fragment>

								<p class="series-description">{s.description}</p>
								<p>
									<a
										href={s.path}
										class="button"
										data-variant="more-link"
										tabindex="-1"
									>
										See episodes
									</a>
								</p>
							</Card>
						</>
					);
				})
			}
		</div>
	</div>
</section>

<style>
	.series {
		background: var(--black);
		display: flex;
		flex-direction: column;
		gap: 4px;
		padding-block-start: 16px;
		padding-block-end: 60px;

		.wrap {
			position: relative;

			&::before,
			&::after {
				content: '';
				inline-size: 5cqi;
				inset-block: 0;
				position: absolute;
				z-index: 10;
			}

			&::after {
				background: linear-gradient(to left, var(--black) 10%, transparent);
				inset-inline-end: 0;
			}

			&::before {
				background: linear-gradient(to right, var(--black) 10%, transparent);
				inset-inline-start: 0;
			}
		}

		.row {
			inline-size: auto;
			justify-content: start;
			overflow-x: auto;
			overflow-y: visible;
			padding-block: 8px;
			scrollbar-width: none;
		}

		.card {
			align-self: start;
			max-inline-size: 300px;
			min-inline-size: 220px;
		}
	}

	h2 {
		font-size: clamp(1rem, 2cqi, 1.5rem);
		font-weight: 600;
		margin-block-start: 40px;
		padding-inline: max((100% - var(--max-width)) / 2, 5%);
	}

	.episode-description,
	.series-description {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
</style>
