---
import { getNextEarlyAccessEpisode, getRecentEpisodes } from '../../util/sanity';
import EpisodeCard from '../episode-card.astro';

function getTagline(date: string) {
	const dateString = new Date(date).toLocaleDateString('en-US', { month: 'short', day: 'numeric' });

	return `Supporters only until ${dateString}`;
}

const earlyAccess = await getNextEarlyAccessEpisode();
const recentEps = await getRecentEpisodes();
---

<section class="series">
	{earlyAccess ? (
		<h2>Early access for supporters</h2>
		<div class="row early-access">
			<EpisodeCard
				thumbnail={{
					public_id: earlyAccess.thumbnail.public_id,
					alt: earlyAccess.thumbnail.alt,
				}}
				tagline={getTagline(earlyAccess.publish_date!)}
				series={earlyAccess.series}
				episode_number={earlyAccess.episodeNumber}
				publish_date={earlyAccess.publish_date}
				title={earlyAccess.title}
				description={earlyAccess.short_description}
				url={earlyAccess.path}
				width={660}
			/>
		</div>
	) : null}

	{recentEps ? (
		<h2>Newly added</h2>
		<div class="row three-up">
			{recentEps.map((ep) => {
				return (
					<EpisodeCard
						thumbnail={{
							public_id: ep.thumbnail.public_id!,
							alt: ep.thumbnail.alt!,
						}}
						youtube_id={ep.youtube_id}
						series={ep.series}
						episode_number={ep.episodeNumber}
						publish_date={ep.publish_date}
						title={ep.title}
						description={ep.short_description}
						url={ep.path}
						width={465}
					/>
				)
			})}
		</div>
	) : null}
</section>

<style>
	.series {
		background: var(--black);
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-block-start: 80px;
		padding-block-end: 60px;
	}

	h2 {
		font-family: monaspace-argon;
		font-size: clamp(1rem, 2cqi, 1.5rem);
		font-weight: 600;
		margin-block-start: 40px;
		padding-inline: max((100% - var(--max-width)) / 2, 5%);
	}

	.row {
		display: flex;
		gap: 20px;
		justify-content: start;
		padding-inline: max((100% - var(--max-width)) / 2, 5%);
	}

	.three-up {
		display: grid;
		grid-template-columns: 100%;

		@media (min-width: 750px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>
