---
import { createImageUrl } from '@codetv/cloudinary';
import { Image } from '@unpic/astro';
import MuxVideoPlayer from './mux-video-player.astro';

export interface Props {
	line1?: string;
	line2?: string;
	image?: {
		public_id: string;
		alt: string;
	};
	video?: {
		public_id: string;
		title: string;
		publish_date: string;
	};
	aspectRatio?: number;
	addGradient?: boolean;
}

const {
	line1,
	line2,
	image,
	video,
	aspectRatio = 1728 / 795,
	addGradient = false,
} = Astro.props;

let imgUrl;
if (image) {
	imgUrl = createImageUrl(image.public_id, {
		aspect_ratio: aspectRatio,
		crop: 'fill',
	});
}
---

<section class="hero" data-variant={addGradient ? 'gradient' : undefined}>
	<slot name="content">
		<h1>
			<span class="line-1">{line1}</span>
			<span class="line-2">{line2}</span>
		</h1>
	</slot>
	{
		imgUrl ? (
			<Image src={imgUrl} alt={image?.alt} aspectRatio={aspectRatio} />
		) : null
	}

	{
		video && video.public_id ? (
			<MuxVideoPlayer
				playback_ids={[{ id: video.public_id, policy: 'public' }]}
				publish_date={video.publish_date}
				title={video.title}
				autoplay
				muted
				loop
				controls={false}
			/>
		) : null
	}
</section>

<style define:vars={{ aspectRatio }}>
	@layer site-base {
		.hero {
			background: var(--black);
			container: hero / inline-size;
			position: relative;

			&[data-variant='gradient'] {
				&::before,
				&::after {
					content: '';
					inset: 0;
					position: absolute;
					z-index: 5;
				}

				&::after {
					--distance: 33%;
					--transparency: 0%;

					aspect-ratio: var(--aspectRatio);

					background: linear-gradient(
						to top,
						color-mix(in oklch, var(--black), transparent var(--transparency)),
						color-mix(in oklch, var(--black), transparent 100%) var(--distance)
					);
				}

				&::before {
					--transparency: 0%;
					--distance: 35%;

					background: linear-gradient(
						to right,
						color-mix(in oklch, var(--black), transparent var(--transparency)),
						color-mix(in oklch, var(--black), transparent 100%) var(--distance)
					);

					@media (min-width: 1080px) {
						--distance: 60%;
						--transparency: 0%;
					}
				}
			}

			h1 {
				font-size: clamp(1rem, 11cqi, 11rem);
				font-weight: 900;
				font-variation-settings: 'wdth' 80;
				inline-size: min(90%, 1450px);
				inset-block-end: 0;
				line-height: 0.8;
				margin: 0 max(5%, (100% - 1450px) / 2);
				position: absolute;
				text-box-trim: trim-both;
				text-shadow: 0 1px 3px
					color-mix(in oklch, var(--black) 50%, transparent);
				text-transform: uppercase;
				word-spacing: 0.1em;
				z-index: 10;

				.line-1,
				.line-2 {
					display: block;
				}

				.line-2 {
					color: var(--orange);
					font-size: 0.92em;
					text-align: end;
				}
			}

			img,
			mux-player {
				display: block;
				z-index: 1;
			}

			mux-player {
				block-size: 100cqb;
				inline-size: 100cqi;
				max-block-size: 80dvb;
			}

			&:has(mux-player)::after {
				background: linear-gradient(
					to top,
					var(--black),
					color-mix(in oklch, var(--black), transparent 100%) 80%
				);
				content: '';
				inset: 0;
				position: absolute;
			}
		}
	}
</style>
